$blue-color: #2196f3;
$black-color: #212121;
$white-color: #fff;
$grey-color: #757575;
$bg-grey-color: #f5f4fa;
$bg-black-color: #2f303a;
$bg-white-color: #fff;
$border-grey-color: #ececec;
$time: 250ms;
$type-transition: cubic-bezier(0.4, 0, 0.2, 1);
$mobile: 479.98px;
$laptop: 767.98px;
$desktop: 1199.98px;